body
{
    background-color: yellow;
}
h1
{
    color: black;
    background-color: yellow;
}

#show_sketch
{
    float: left;
}

canvas
{
    border: 5px solid yellow;
    border-radius: 30px;
    animation-name:  example ;
    animation-duration: 4s ;
    margin-top: 50px ;
    animation-iteration-count: infinite ;
}
@keyframes example {

    from {box-shadow: 10px 5px 5px rgb(0, 46, 253);}
    to {box-shadow: 10px 5px 5px black;}
    
}

p
{
    padding-top: 10px;
    font-size: 25px;
}

